# Файл haproxy.cfg.j2
global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:{{ haproxy_port }}
    default_backend servers

backend servers
    balance roundrobin
    server opensearch-dashboards 127.0.0.1:5601
